/*********************
BREAKPOINTS
*********************/
html,
body {
  background: #f8f8f8;
  width: 100%;
  height: 100%;
  font-family: karla, helvetica, arial, sans-serif;
  overflow: hidden;
  position: relative; }

#menu {
  display: none; }
  @media (max-width: 768px) {
    #menu {
      display: block;
      color: #0000FF;
      font-size: 50px;
      position: absolute;
      top: 0;
      right: 10px;
      padding: 10px;
      height: 75px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer; } }

#menu-block {
  position: absolute;
  width: 100%;
  height: 75px;
  color: #0000FF;
  text-transform: lowercase;
  display: none; }
  @media (max-width: 768px) {
    #menu-block {
      display: block; } }
  #menu-block h1 {
    margin-left: 20px; }

#shell {
  border: 3px solid #0000FF;
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  max-height: 745px; }
  @media (max-width: 768px) {
    #shell {
      width: calc(99%);
      height: calc(99% - 75px);
      margin: auto;
      position: relative;
      top: unset;
      left: unset;
      -webkit-transform: unset;
      -ms-transform: unset;
      transform: unset;
      max-height: unset;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      top: 75px; } }
  #shell #sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
    border-right: 3px solid #0000FF;
    text-align: center;
    position: relative; }
    @media (max-width: 768px) {
      #shell #sidebar {
        display: none;
        position: absolute;
        -webkit-box-flex: unset;
        -ms-flex: unset;
        flex: unset;
        width: 100%;
        height: 100%;
        background: #f8f8f8; } }
    #shell #sidebar #sidebar-wrapper {
      width: 100%;
      height: 100%;
      padding: 30px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    #shell #sidebar #sidebar-content {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    #shell #sidebar #sidebar-icons {
      position: absolute;
      bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      border-top: 3px solid #0000FF; }
      #shell #sidebar #sidebar-icons .icon-link {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
        flex: 1 1 25%;
        width: 25%; }
        #shell #sidebar #sidebar-icons .icon-link:hover {
          background: #0000FF; }
          #shell #sidebar #sidebar-icons .icon-link:hover .icon img {
            -webkit-filter: grayscale(100%) invert(1);
            filter: grayscale(100%) invert(1); }
      #shell #sidebar #sidebar-icons .icon {
        text-align: center;
        border-right: 3px solid #0000FF; }
        #shell #sidebar #sidebar-icons .icon#surprise {
          border-right: 0; }
        #shell #sidebar #sidebar-icons .icon img {
          height: 30px;
          margin: 15px; }
    #shell #sidebar h1 {
      font-size: 20px;
      margin: 0;
      color: #0000FF;
      width: 50%;
      margin: auto;
      margin-bottom: 10px; }
    #shell #sidebar h6 {
      margin: 0;
      margin-bottom: 30px;
      color: #D21930;
      font-size: 12px; }
    #shell #sidebar nav ul {
      list-style: none;
      -webkit-padding-start: 0;
      padding-inline-start: 0; }
      #shell #sidebar nav ul a {
        display: block;
        text-decoration: none; }
        #shell #sidebar nav ul a:hover li {
          border-bottom: 2px solid #0000FF; }
        #shell #sidebar nav ul a.active li {
          border-bottom: 2px solid #0000FF; }
      #shell #sidebar nav ul li {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.05rem;
        margin-bottom: 8px;
        color: #0000FF;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid transparent; }
  #shell #content {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%;
    overflow-y: overlay;
    height: 100%;
    overflow-x: hidden;
    /* width */
    /* Track */
    /* Handle */ }
    @media (max-width: 768px) {
      #shell #content {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        width: 100%; } }
    #shell #content::-webkit-scrollbar {
      width: 0px; }
    #shell #content::-webkit-scrollbar-track {
      width: 0; }
    #shell #content::-webkit-scrollbar-thumb {
      background: transparent;
      width: 0px; }
    #shell #content .half-col,
    #shell #content .full-col,
    #shell #content .third-col,
    #shell #content .two-third-col {
      padding: 35px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-top: 3px solid #0000FF;
      margin: 0; }
      @media (max-width: 550px) {
        #shell #content .half-col,
        #shell #content .full-col,
        #shell #content .third-col,
        #shell #content .two-third-col {
          padding: 20px; } }
      #shell #content .half-col h2 a,
      #shell #content .full-col h2 a,
      #shell #content .third-col h2 a,
      #shell #content .two-third-col h2 a {
        color: #222222; }
      #shell #content .half-col h2 a:hover,
      #shell #content .full-col h2 a:hover,
      #shell #content .third-col h2 a:hover,
      #shell #content .two-third-col h2 a:hover {
        color: #0000FF; }
      #shell #content .half-col.end,
      #shell #content .full-col.end,
      #shell #content .third-col.end,
      #shell #content .two-third-col.end {
        border-right: none !important; }
      #shell #content .half-col img,
      #shell #content .full-col img,
      #shell #content .third-col img,
      #shell #content .two-third-col img {
        width: 100%; }
      #shell #content .half-col.media,
      #shell #content .full-col.media,
      #shell #content .third-col.media,
      #shell #content .two-third-col.media {
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      #shell #content .half-col.video,
      #shell #content .full-col.video,
      #shell #content .third-col.video,
      #shell #content .two-third-col.video {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      #shell #content .half-col.embed,
      #shell #content .full-col.embed,
      #shell #content .third-col.embed,
      #shell #content .two-third-col.embed {
        background: white; }
      #shell #content .half-col .data-block,
      #shell #content .full-col .data-block,
      #shell #content .third-col .data-block,
      #shell #content .two-third-col .data-block {
        margin-bottom: 15px; }
        #shell #content .half-col .data-block strong.bold,
        #shell #content .full-col .data-block strong.bold,
        #shell #content .third-col .data-block strong.bold,
        #shell #content .two-third-col .data-block strong.bold {
          color: #D21930; }
        #shell #content .half-col .data-block p,
        #shell #content .full-col .data-block p,
        #shell #content .third-col .data-block p,
        #shell #content .two-third-col .data-block p {
          margin: 0;
          font-size: 14px;
          letter-spacing: 0.05rem;
          line-height: 1.3rem;
          padding-bottom: 0rem; }
        #shell #content .half-col .data-block a,
        #shell #content .full-col .data-block a,
        #shell #content .third-col .data-block a,
        #shell #content .two-third-col .data-block a {
          color: #222222; }
          #shell #content .half-col .data-block a:hover,
          #shell #content .full-col .data-block a:hover,
          #shell #content .third-col .data-block a:hover,
          #shell #content .two-third-col .data-block a:hover {
            color: #0000FF; }
        #shell #content .half-col .data-block ol,
        #shell #content .full-col .data-block ol,
        #shell #content .third-col .data-block ol,
        #shell #content .two-third-col .data-block ol {
          list-style-type: decimal-leading-zero;
          margin: 0;
          padding: 0;
          margin-left: 20px; }
          #shell #content .half-col .data-block ol li,
          #shell #content .full-col .data-block ol li,
          #shell #content .third-col .data-block ol li,
          #shell #content .two-third-col .data-block ol li {
            padding: 0px;
            padding-left: 5px;
            margin: 0;
            font-size: 12px;
            letter-spacing: 0.05rem;
            line-height: 1.3rem; }
      #shell #content .half-col h6.section-head,
      #shell #content .full-col h6.section-head,
      #shell #content .third-col h6.section-head,
      #shell #content .two-third-col h6.section-head {
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        margin-bottom: 0.8rem;
        font-size: 14px;
        margin-top: 0.8rem; }
    #shell #content .half-col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-right: 3px solid #0000FF; }
      @media (max-width: 768px) {
        #shell #content .half-col {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          width: 100%;
          border-right: none; } }
      #shell #content .half-col#me {
        background-image: url("../img/me.png");
        background-size: cover;
        min-height: 450px; }
      #shell #content .half-col.project-icon {
        border-right: none; }
        @media (max-width: 768px) {
          #shell #content .half-col.project-icon {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            width: 50%; } }
        #shell #content .half-col.project-icon a {
          text-decoration: none; }
        #shell #content .half-col.project-icon#right-nav {
          text-align: right; }
        #shell #content .half-col.project-icon .project-nav {
          width: 50px;
          text-align: center;
          display: inline-block;
          margin: 0 10px; }
          #shell #content .half-col.project-icon .project-nav#top {
            cursor: pointer; }
          #shell #content .half-col.project-icon .project-nav img {
            width: 100%;
            max-width: 30px; }
          #shell #content .half-col.project-icon .project-nav p {
            margin: 0;
            margin-top: 10px;
            text-transform: lowercase;
            color: #0000FF; }
        #shell #content .half-col.project-icon #prev img {
          -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          transform: rotate(-180deg); }
      #shell #content .half-col.button {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #0000FF;
        font-size: 24px;
        text-transform: lowercase;
        border-right: none;
        border-bottom: none;
        border-top: 3px solid #0000FF; }
        #shell #content .half-col.button.active, #shell #content .half-col.button:hover {
          background: #0000FF;
          color: white;
          cursor: pointer; }
        #shell #content .half-col.button h4 {
          margin: 0;
          padding: 15px; }
      #shell #content .half-col ol {
        list-style-type: decimal-leading-zero;
        margin: 0;
        padding: 0;
        margin-left: 20px; }
        #shell #content .half-col ol li {
          padding: 0px;
          padding-left: 5px;
          margin: 0;
          margin-bottom: 10px;
          font-size: 16px;
          letter-spacing: 0.05rem;
          line-height: 1.3rem; }
    #shell #content .full-col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      #shell #content .full-col .data-block {
        max-width: 600px; }
      #shell #content .full-col.resume {
        border-top: 0; }
        #shell #content .full-col.resume a {
          cursor: pointer; }
      #shell #content .full-col.image {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 500px;
        padding: 0; }
        @media (max-width: 550px) {
          #shell #content .full-col.image {
            height: 250px; } }
      #shell #content .full-col#gas {
        background-image: url("../img/photography/splash.jpg"); }
      #shell #content .full-col#vancity {
        background-image: url("../img/projects/vancity/vancity.jpg"); }
      #shell #content .full-col#lena {
        background-image: url("../img/projects/lena/lena.jpg"); }
      #shell #content .full-col#touchy {
        background-image: url("../img/projects/touchy/touchy.jpg"); }
      #shell #content .full-col#peak-canada {
        background-image: url("../img/projects/thepeak/canadian.jpg"); }
      #shell #content .full-col#peak-period {
        background-image: url("../img/projects/thepeak/period.jpg"); }
      #shell #content .full-col#peak-bard {
        background-image: url("../img/projects/thepeak/bard.jpg"); }
      #shell #content .full-col#peak-fairtrade {
        background-image: url("../img/projects/thepeak/fairtrade.jpg"); }
      #shell #content .full-col#peak-stem {
        background-image: url("../img/projects/thepeak/STEM.jpg"); }
      #shell #content .full-col#peak-food {
        background-image: url("../img/projects/thepeak/food%20trucks.jpg"); }
      #shell #content .full-col#peak-nightmarket {
        background-image: url("../img/projects/thepeak/nightmarket.jpg"); }
      #shell #content .full-col#peak-humour {
        background-image: url("../img/projects/thepeak/humour.jpg"); }
      #shell #content .full-col#t-vision {
        background-image: url("../img/projects/touchy/vision.jpeg"); }
      #shell #content .full-col.flex {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-top: 0; }
        #shell #content .full-col.flex.filter {
          display: none;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          #shell #content .full-col.flex.filter.active {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
    #shell #content .third-col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
      flex: 0 0 33.3333%;
      width: 33.333333%;
      border-right: 3px solid #0000FF;
      border-top: 3px solid #0000FF; }
      @media (max-width: 550px) {
        #shell #content .third-col {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          width: 100%;
          border-right: none; } }
    #shell #content .two-third-col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666%;
      flex: 0 0 66.6666%;
      width: 66.66666%;
      border-top: 3px solid #0000FF; }
      @media (max-width: 550px) {
        #shell #content .two-third-col {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          width: 100%;
          border-right: none; } }
      #shell #content .two-third-col.gallery {
        padding: 1%; }
        #shell #content .two-third-col.gallery .gallery-image {
          width: 30%;
          margin: 1%; }
    #shell #content #notification {
      padding: 40px;
      border-bottom: 3px solid #0000FF;
      width: 100%;
      text-transform: lowercase; }
      #shell #content #notification.flex {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: none; }
      #shell #content #notification h4 {
        font-size: 24px;
        letter-spacing: 0.05rem;
        margin: 0;
        color: #222222;
        margin-bottom: 5px;
        font-weight: bold; }
      #shell #content #notification h5 {
        font-size: 16px;
        font-weight: normal;
        color: #222222;
        margin: 0;
        line-height: 1.5rem; }
    #shell #content .project-link {
      text-decoration: none;
      width: 100%; }
      #shell #content .project-link:hover .project {
        background: #0000FF; }
        #shell #content .project-link:hover .project .project-title h2,
        #shell #content .project-link:hover .project .project-title h3 {
          color: white; }
    #shell #content .project {
      height: 150px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 3px solid #0000FF; }
      #shell #content .project#peak {
        border-bottom: 0px; }
      #shell #content .project .project-img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-right: 3px solid #0000FF; }
        #shell #content .project .project-img#vancity-img {
          background-image: url("../img/thumbnails/vancity.jpg"); }
        #shell #content .project .project-img#lena-img {
          background-image: url("../img/thumbnails/lena.jpg"); }
        #shell #content .project .project-img#touchy-img {
          background-image: url("../img/thumbnails/touchy.jpg"); }
        #shell #content .project .project-img#peak-img {
          background-image: url("../img/thumbnails/peak.jpg"); }
      #shell #content .project .project-title {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
        flex: 0 0 65%;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
        #shell #content .project .project-title h2 {
          text-transform: lowercase;
          color: #0000FF;
          letter-spacing: 0.05rem;
          font-size: 28px;
          margin: 0;
          margin-bottom: 5px;
          margin-left: 40px; }
        #shell #content .project .project-title h3 {
          color: #D21930;
          text-transform: lowercase;
          letter-spacing: 0.05rem;
          font-size: 16px;
          font-weight: normal;
          margin: 0;
          margin-left: 40px; }

.center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.barba-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@-webkit-keyframes wave {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px); } }

@keyframes wave {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px); } }

.wavetext {
  margin-top: 0;
  text-align: center;
  margin-bottom: 15px; }
  .wavetext p {
    margin: 0; }

.wavetext span {
  display: inline-block;
  font-size: 20px;
  margin: 0;
  color: #0000FF;
  text-transform: lowercase;
  -webkit-animation-duration: 0.95s;
  animation-duration: 0.95s;
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

.wavetext :nth-child(40n + 0) {
  -webkit-animation-delay: -1.9s;
  animation-delay: -1.9s;
  color: #0000FF; }

.wavetext :nth-child(40n + 1) {
  -webkit-animation-delay: -1.8525s;
  animation-delay: -1.8525s;
  color: #0000FF; }

.wavetext :nth-child(40n + 2) {
  -webkit-animation-delay: -1.805s;
  animation-delay: -1.805s;
  color: #0000FF; }

.wavetext :nth-child(40n + 3) {
  -webkit-animation-delay: -1.7575s;
  animation-delay: -1.7575s;
  color: #0000FF; }

.wavetext :nth-child(40n + 4) {
  -webkit-animation-delay: -1.71s;
  animation-delay: -1.71s;
  color: #0000FF; }

.wavetext :nth-child(40n + 5) {
  -webkit-animation-delay: -1.6625s;
  animation-delay: -1.6625s;
  color: #0000FF; }

.wavetext :nth-child(40n + 6) {
  -webkit-animation-delay: -1.615s;
  animation-delay: -1.615s;
  color: #0000FF; }

.wavetext :nth-child(40n + 7) {
  -webkit-animation-delay: -1.5675s;
  animation-delay: -1.5675s;
  color: #0000FF; }

.wavetext :nth-child(40n + 8) {
  -webkit-animation-delay: -1.52s;
  animation-delay: -1.52s;
  color: #0000FF; }

.wavetext :nth-child(40n + 9) {
  -webkit-animation-delay: -1.4725s;
  animation-delay: -1.4725s;
  color: #0000FF; }

.wavetext :nth-child(40n + 10) {
  -webkit-animation-delay: -1.425s;
  animation-delay: -1.425s;
  color: #0000FF; }

.wavetext :nth-child(40n + 11) {
  -webkit-animation-delay: -1.3775s;
  animation-delay: -1.3775s;
  color: #0000FF; }

.wavetext :nth-child(40n + 12) {
  -webkit-animation-delay: -1.33s;
  animation-delay: -1.33s;
  color: #0000FF; }

.wavetext :nth-child(40n + 13) {
  -webkit-animation-delay: -1.2825s;
  animation-delay: -1.2825s;
  color: #0000FF; }

.wavetext :nth-child(40n + 14) {
  -webkit-animation-delay: -1.235s;
  animation-delay: -1.235s;
  color: #0000FF; }

.wavetext :nth-child(40n + 15) {
  -webkit-animation-delay: -1.1875s;
  animation-delay: -1.1875s;
  color: #0000FF; }

.wavetext :nth-child(40n + 16) {
  -webkit-animation-delay: -1.14s;
  animation-delay: -1.14s;
  color: #0000FF; }

.wavetext :nth-child(40n + 17) {
  -webkit-animation-delay: -1.0925s;
  animation-delay: -1.0925s;
  color: #0000FF; }

.wavetext :nth-child(40n + 18) {
  -webkit-animation-delay: -1.045s;
  animation-delay: -1.045s;
  color: #0000FF; }

.wavetext :nth-child(40n + 19) {
  -webkit-animation-delay: -0.9975s;
  animation-delay: -0.9975s;
  color: #0000FF; }

.wavetext :nth-child(40n + 20) {
  -webkit-animation-delay: -0.95s;
  animation-delay: -0.95s;
  color: #0000FF; }

.wavetext :nth-child(40n + 21) {
  -webkit-animation-delay: -0.9025s;
  animation-delay: -0.9025s;
  color: #0000FF; }

.wavetext :nth-child(40n + 22) {
  -webkit-animation-delay: -0.855s;
  animation-delay: -0.855s;
  color: #0000FF; }

.wavetext :nth-child(40n + 23) {
  -webkit-animation-delay: -0.8075s;
  animation-delay: -0.8075s;
  color: #0000FF; }

.wavetext :nth-child(40n + 24) {
  -webkit-animation-delay: -0.76s;
  animation-delay: -0.76s;
  color: #0000FF; }

.wavetext :nth-child(40n + 25) {
  -webkit-animation-delay: -0.7125s;
  animation-delay: -0.7125s;
  color: #0000FF; }

.wavetext :nth-child(40n + 26) {
  -webkit-animation-delay: -0.665s;
  animation-delay: -0.665s;
  color: #0000FF; }

.wavetext :nth-child(40n + 27) {
  -webkit-animation-delay: -0.6175s;
  animation-delay: -0.6175s;
  color: #0000FF; }

.wavetext :nth-child(40n + 28) {
  -webkit-animation-delay: -0.57s;
  animation-delay: -0.57s;
  color: #0000FF; }

.wavetext :nth-child(40n + 29) {
  -webkit-animation-delay: -0.5225s;
  animation-delay: -0.5225s;
  color: #0000FF; }

.wavetext :nth-child(40n + 30) {
  -webkit-animation-delay: -0.475s;
  animation-delay: -0.475s;
  color: #0000FF; }

.wavetext :nth-child(40n + 31) {
  -webkit-animation-delay: -0.4275s;
  animation-delay: -0.4275s;
  color: #0000FF; }

.wavetext :nth-child(40n + 32) {
  -webkit-animation-delay: -0.38s;
  animation-delay: -0.38s;
  color: #0000FF; }

.wavetext :nth-child(40n + 33) {
  -webkit-animation-delay: -0.3325s;
  animation-delay: -0.3325s;
  color: #0000FF; }

.wavetext :nth-child(40n + 34) {
  -webkit-animation-delay: -0.285s;
  animation-delay: -0.285s;
  color: #0000FF; }

.wavetext :nth-child(40n + 35) {
  -webkit-animation-delay: -0.2375s;
  animation-delay: -0.2375s;
  color: #0000FF; }

.wavetext :nth-child(40n + 36) {
  -webkit-animation-delay: -0.19s;
  animation-delay: -0.19s;
  color: #0000FF; }

.wavetext :nth-child(40n + 37) {
  -webkit-animation-delay: -0.1425s;
  animation-delay: -0.1425s;
  color: #0000FF; }

.wavetext :nth-child(40n + 38) {
  -webkit-animation-delay: -0.095s;
  animation-delay: -0.095s;
  color: #0000FF; }

.wavetext :nth-child(40n + 39) {
  -webkit-animation-delay: -0.0475s;
  animation-delay: -0.0475s;
  color: #0000FF; }
