/*********************
BREAKPOINTS
*********************/
html,
body {
  background: #f8f8f8;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

#menu {
  display: none;
  font-size: 12px;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: karla, helvetica, arial, sans-serif; }
  #menu h2 {
    font-size: 12px;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: karla, helvetica, arial, sans-serif; }
  @media (max-width: 768px) {
    #menu {
      position: absolute;
      display: block;
      font-size: 10px;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      font-weight: 400;
      font-family: karla, helvetica, arial, sans-serif;
      z-index: 30;
      right: 20px;
      top: 25px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer; } }

#menu-block {
  position: absolute;
  width: 100%;
  color: #222222;
  top: -10px;
  z-index: 50;
  display: none; }
  @media (max-width: 768px) {
    #menu-block {
      display: block; } }
  #menu-block h1 {
    margin-left: 20px;
    font-family: prata, serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03rem;
    margin: 0rem; }
  #menu-block h2 {
    font-size: 10px;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: karla, helvetica, arial, sans-serif; }

#shell {
  border: 1px solid #222222;
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  max-width: 1280px;
  max-height: 745px;
  background: white; }
  @media (max-width: 768px) {
    #shell {
      width: calc(99%);
      height: calc(99% - 75px);
      margin: auto;
      position: relative;
      top: unset;
      left: unset;
      -webkit-transform: unset;
      -ms-transform: unset;
      transform: unset;
      max-height: unset;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      top: 50px; } }
  #shell #sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    -webkit-flex: 0 1 20%;
    border-right: 1px solid black;
    position: relative; }
    @media (max-width: 768px) {
      #shell #sidebar {
        display: none;
        position: absolute;
        -webkit-box-flex: unset;
        -ms-flex: unset;
        flex: unset;
        -webkit-flex: unset;
        width: 100%;
        height: 100%;
        background: #f8f8f8; } }
    #shell #sidebar #sidebar-wrapper {
      width: 100%;
      height: 100%;
      padding: 30px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    #shell #sidebar a {
      text-decoration: none;
      color: black; }
    #shell #sidebar h1 {
      font-family: prata, serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.03rem;
      margin: 0rem; }
    #shell #sidebar h2 {
      font-family: karla, helvetica, arial, sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0.05rem;
      font-size: 10px; }
    #shell #sidebar #socials {
      position: absolute;
      bottom: 0; }
      #shell #sidebar #socials ul {
        list-style: none;
        -webkit-padding-start: 0;
        padding-inline-start: 0; }
        #shell #sidebar #socials ul a {
          display: block;
          text-decoration: none; }
          #shell #sidebar #socials ul a:hover li {
            color: darkgray; }
        #shell #sidebar #socials ul li {
          color: #222222;
          font-family: karla, helvetica, arial, sans-serif;
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 0.05rem;
          margin-bottom: 8px;
          display: inline-block; }
    #shell #sidebar nav {
      z-index: 20;
      margin-top: 50px; }
      #shell #sidebar nav ul {
        list-style: none;
        -webkit-padding-start: 0;
        padding-inline-start: 0; }
        #shell #sidebar nav ul a {
          display: block;
          text-decoration: none; }
          #shell #sidebar nav ul a:hover li {
            color: darkgray; }
        #shell #sidebar nav ul li {
          color: #222222;
          font-family: karla, helvetica, arial, sans-serif;
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 0.05rem;
          margin-bottom: 8px;
          display: inline-block; }
  #shell #content {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 80%;
    flex: 0 1 80%;
    -webkit-flex: 0 1 80%;
    overflow-y: overlay;
    height: 100%;
    overflow-x: hidden;
    /* width */
    /* Track */
    /* Handle */ }
    @media (max-width: 768px) {
      #shell #content {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        -webkit-flex: 0 1 100%;
        width: 100%; } }
    #shell #content::-webkit-scrollbar {
      width: 0px; }
    #shell #content::-webkit-scrollbar-track {
      width: 0; }
    #shell #content::-webkit-scrollbar-thumb {
      background: transparent;
      width: 0px; }
    #shell #content .half-col,
    #shell #content .full-col,
    #shell #content .third-col,
    #shell #content .two-third-col {
      padding: 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0; }
      @media (max-width: 550px) {
        #shell #content .half-col,
        #shell #content .full-col,
        #shell #content .third-col,
        #shell #content .two-third-col {
          padding: 20px; } }
      #shell #content .half-col .center,
      #shell #content .full-col .center,
      #shell #content .third-col .center,
      #shell #content .two-third-col .center {
        text-align: center;
        padding-left: 50px; }
        @media (max-width: 550px) {
          #shell #content .half-col .center,
          #shell #content .full-col .center,
          #shell #content .third-col .center,
          #shell #content .two-third-col .center {
            padding: 0px; } }
        #shell #content .half-col .center h1,
        #shell #content .full-col .center h1,
        #shell #content .third-col .center h1,
        #shell #content .two-third-col .center h1 {
          padding-top: 50px;
          padding-right: 50px; }
          @media (max-width: 550px) {
            #shell #content .half-col .center h1,
            #shell #content .full-col .center h1,
            #shell #content .third-col .center h1,
            #shell #content .two-third-col .center h1 {
              padding: 0px; } }
        #shell #content .half-col .center img,
        #shell #content .full-col .center img,
        #shell #content .third-col .center img,
        #shell #content .two-third-col .center img {
          width: 60%;
          padding-right: 50px; }
          @media (max-width: 550px) {
            #shell #content .half-col .center img,
            #shell #content .full-col .center img,
            #shell #content .third-col .center img,
            #shell #content .two-third-col .center img {
              padding: 0px;
              width: 100%; } }
      #shell #content .half-col h1,
      #shell #content .full-col h1,
      #shell #content .third-col h1,
      #shell #content .two-third-col h1 {
        font-family: prata, serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.03rem;
        margin: 0rem; }
        #shell #content .half-col h1.section-head,
        #shell #content .full-col h1.section-head,
        #shell #content .third-col h1.section-head,
        #shell #content .two-third-col h1.section-head {
          font-size: 28px;
          padding-bottom: 15px; }
      #shell #content .half-col h2,
      #shell #content .full-col h2,
      #shell #content .third-col h2,
      #shell #content .two-third-col h2 {
        font-family: karla, helvetica, arial, sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.05rem;
        font-size: 10px; }
      #shell #content .half-col h2 a,
      #shell #content .full-col h2 a,
      #shell #content .third-col h2 a,
      #shell #content .two-third-col h2 a {
        color: #222222; }
      #shell #content .half-col h2 a:hover,
      #shell #content .full-col h2 a:hover,
      #shell #content .third-col h2 a:hover,
      #shell #content .two-third-col h2 a:hover {
        color: darkgray; }
      #shell #content .half-col img,
      #shell #content .full-col img,
      #shell #content .third-col img,
      #shell #content .two-third-col img {
        margin-right: 20px;
        width: 100%;
        height: 100%; }
      #shell #content .half-col.media,
      #shell #content .full-col.media,
      #shell #content .third-col.media,
      #shell #content .two-third-col.media {
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex; }
      #shell #content .half-col.video,
      #shell #content .full-col.video,
      #shell #content .third-col.video,
      #shell #content .two-third-col.video {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex; }
      #shell #content .half-col.embed,
      #shell #content .full-col.embed,
      #shell #content .third-col.embed,
      #shell #content .two-third-col.embed {
        background: white;
        margin: 20px;
        margin-bottom: 100px;
        margin-top: 50px; }
      #shell #content .half-col .data-block,
      #shell #content .full-col .data-block,
      #shell #content .third-col .data-block,
      #shell #content .two-third-col .data-block {
        padding-bottom: 15px; }
        #shell #content .half-col .data-block strong.bold,
        #shell #content .full-col .data-block strong.bold,
        #shell #content .third-col .data-block strong.bold,
        #shell #content .two-third-col .data-block strong.bold {
          color: blue; }
        #shell #content .half-col .data-block p,
        #shell #content .full-col .data-block p,
        #shell #content .third-col .data-block p,
        #shell #content .two-third-col .data-block p {
          font-family: karla, helvetica, arial, sans-serif;
          margin: 0;
          font-size: 14px;
          letter-spacing: 0.03rem;
          line-height: 1.3rem;
          padding-bottom: 0rem; }
        #shell #content .half-col .data-block a,
        #shell #content .full-col .data-block a,
        #shell #content .third-col .data-block a,
        #shell #content .two-third-col .data-block a {
          color: #222222; }
          #shell #content .half-col .data-block a:hover,
          #shell #content .full-col .data-block a:hover,
          #shell #content .third-col .data-block a:hover,
          #shell #content .two-third-col .data-block a:hover {
            color: darkgray; }
        #shell #content .half-col .data-block ol,
        #shell #content .full-col .data-block ol,
        #shell #content .third-col .data-block ol,
        #shell #content .two-third-col .data-block ol {
          list-style-type: decimal-leading-zero;
          margin: 0;
          padding: 0;
          margin-left: 20px; }
          #shell #content .half-col .data-block ol li,
          #shell #content .full-col .data-block ol li,
          #shell #content .third-col .data-block ol li,
          #shell #content .two-third-col .data-block ol li {
            font-family: karla, helvetica, arial, sans-serif;
            padding: 0px;
            padding-left: 5px;
            margin: 0;
            font-size: 10px;
            letter-spacing: 0.03rem;
            line-height: 1.3rem; }
      #shell #content .half-col h6.section-head,
      #shell #content .full-col h6.section-head,
      #shell #content .third-col h6.section-head,
      #shell #content .two-third-col h6.section-head {
        font-family: karla, helvetica, arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        margin-bottom: 0.8rem;
        font-size: 12px;
        margin-top: 0.8rem;
        font-weight: bold; }
      #shell #content .half-col h6.red,
      #shell #content .full-col h6.red,
      #shell #content .third-col h6.red,
      #shell #content .two-third-col h6.red {
        color: #222222; }
    #shell #content .half-col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      -webkit-flex: 0 0 50%;
      width: 50%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media (max-width: 768px) {
        #shell #content .half-col {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          -webkit-flex: 0 0 100%;
          width: 100%;
          border-right: none; } }
      #shell #content .half-col.button {
        margin: 0;
        height: 40px;
        padding: 0;
        padding-top: 10px;
        text-align: center;
        color: black;
        font-size: 24px;
        border-right: none;
        border-bottom: none; }
        #shell #content .half-col.button.active, #shell #content .half-col.button:hover {
          background: black;
          color: white;
          cursor: pointer; }
        #shell #content .half-col.button h4 {
          margin: 0;
          padding: 15px; }
      #shell #content .half-col ol {
        list-style-type: decimal-leading-zero;
        margin: 0;
        padding: 0;
        margin-left: 20px;
        margin-top: 20px; }
        #shell #content .half-col ol li {
          padding: 0px;
          padding-left: 5px;
          margin: 0;
          margin-bottom: 10px;
          font-size: 12px;
          letter-spacing: 0.03rem;
          line-height: 1.3rem; }
    #shell #content .white {
      background: white; }
    #shell #content .full-col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-flex: 0 0 100%;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      #shell #content .full-col .data-block {
        padding-right: 50px; }
      #shell #content .full-col.project-nav #top {
        cursor: pointer;
        display: inline;
        padding-right: 20px; }
      #shell #content .full-col.project-nav a {
        display: inline;
        color: black;
        text-decoration: none;
        padding-right: 20px; }
        #shell #content .full-col.project-nav a:hover p {
          color: darkgray; }
      #shell #content .full-col.project-nav p {
        display: inline;
        font-family: karla, helvetica, arial, sans-serif;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 0.05rem;
        margin-bottom: 8px;
        text-align: center; }
      #shell #content .full-col.resume {
        border-top: 0;
        cursor: pointer; }
      #shell #content .full-col.image {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 500px;
        padding: 0; }
        @media (max-width: 550px) {
          #shell #content .full-col.image {
            height: 250px; } }
      #shell #content .full-col#me {
        background-image: url("../img/me.JPG"); }
      #shell #content .full-col#gas {
        background-image: url("../img/photography/splash.jpg"); }
      #shell #content .full-col#vancity {
        background-image: url("../img/projects/vancity/vancity.jpg"); }
      #shell #content .full-col#lena {
        background-image: url("../img/projects/lena/lena.jpg"); }
      #shell #content .full-col#touchy {
        background-image: url("../img/projects/touchy/touchy.jpg"); }
      #shell #content .full-col#christine {
        background-image: url("../img/projects/christine/christine.jpg"); }
      #shell #content .full-col#sjma {
        background-image: url("../img/projects/sjma/sjma.jpg"); }
      #shell #content .full-col#japanesehall {
        background-image: url("../img/projects/japanesehall/japanesehall.jpg"); }
      #shell #content .full-col#t-vision {
        background-image: url("../img/projects/touchy/vision.jpeg"); }
      #shell #content .full-col.flex {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        border-top: 0; }
        #shell #content .full-col.flex.filter {
          display: none;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap; }
          #shell #content .full-col.flex.filter.active {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-flex; }
    #shell #content .third-col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
      flex: 0 0 33.3333%;
      -webkit-flex: 0 0 33.3333%;
      width: 33.333333%; }
      @media (max-width: 550px) {
        #shell #content .third-col {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          -webkit-flex: 0 0 100%;
          width: 100%;
          border-right: none; } }
    #shell #content .two-third-col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666%;
      flex: 0 0 66.6666%;
      -webkit-flex: 0 0 66.6666%;
      width: 66.66666%; }
      @media (max-width: 550px) {
        #shell #content .two-third-col {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          -webkit-flex: 0 0 100%;
          width: 100%;
          border-right: none; } }
      #shell #content .two-third-col.gallery {
        padding: 1%; }
        #shell #content .two-third-col.gallery .gallery-image {
          width: 30%;
          margin: 1%;
          height: unset; }
    #shell #content #landing-hero {
      width: 100%;
      margin-bottom: 30px;
      margin-top: 20px;
      border-bottom: 1px solid black;
      padding-left: 20px; }
      #shell #content #landing-hero h1 {
        text-align: left;
        letter-spacing: 0.05rem;
        font-family: karla, helvetica, arial, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 12px;
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 10px;
        padding-top: 5px; }
    #shell #content .jh img {
      opacity: 0.7; }
      @media (max-width: 768px) {
        #shell #content .jh img {
          width: 28%;
          opacity: 1;
          z-index: -20; } }
    #shell #content .jh:hover img {
      opacity: 1;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      @media (max-width: 768px) {
        #shell #content .jh:hover img {
          opacity: 1; } }
    #shell #content .project-link {
      text-decoration: none; }
      #shell #content .project-link:hover img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); }
    #shell #content .project {
      padding-left: 20px;
      margin-top: 50px;
      margin-bottom: 50px; }
      #shell #content .project img {
        z-index: -20;
        width: 30%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        padding-right: 10px; }
        @media (max-width: 768px) {
          #shell #content .project img {
            width: 28%;
            -webkit-filter: none;
            filter: none; } }
      #shell #content .project .project-title {
        margin-bottom: 20px; }
        #shell #content .project .project-title h2 {
          font-family: prata, serif;
          font-weight: 400;
          color: #222222;
          letter-spacing: 0.03rem;
          font-size: 21px;
          margin: 0;
          margin-bottom: 5px; }
        #shell #content .project .project-title h3 {
          color: #222222;
          font-family: karla, helvetica, arial, sans-serif;
          text-transform: uppercase;
          letter-spacing: 0.05rem;
          font-size: 12px;
          font-weight: normal;
          margin: 0; }

.center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.barba-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }
