@import "vars.scss";

html,
body {
    background: $grey;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

#menu {
    display: none;
    h2 {
        font-size: 12px;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        font-weight: 400;
        font-family: $font1;
    }
    font-size: 12px;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: $font1;
    @include break (tablet) {
        position: absolute;
        display: block;
        font-size: 10px;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        font-weight: 400;
        font-family: $font1;

        z-index: 30;
        right: 20px;
        top: 25px;
        box-sizing: border-box;
        cursor: pointer;

    }
}

#menu-block {
    position: absolute;
    width: 100%;
    color: $blue;
    top: -10px;
    z-index: 50;
    display: none;
    @include break (tablet) {
        display: block;
    }

    h1 {
        margin-left: 20px;
        font-family: $font2;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.03rem;
        margin: 0rem;
    }

    h2 {
        font-size: 10px;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        font-weight: 400;
        font-family: $font1;
    }

}

#shell {
    border: 1px solid $blue;
    width: 80%;
    height: 80%;
    display: flex;
    display: -webkit-flex;
    max-width: 1280px;
    max-height: 745px;
    background: white;
    @include break (tablet) {
        width: calc(99%);
        height: calc(99% - 75px);
        margin: auto;
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        max-height: unset;
        box-sizing: border-box;
        position: relative;
        top: 50px;

    }


    #sidebar {
        flex: 0 1 20%;
        -webkit-flex: 0 1 20%;
        border-right: 1px solid black;
        position: relative;

        @include break (tablet) {
            display: none;
            position: absolute;
            flex: unset;
            -webkit-flex: unset;
            width: 100%;
            height: 100%;
            background: $black;

        }



        #sidebar-wrapper {
            width: 100%;
            height: 100%;
            padding: 30px;
            box-sizing: border-box;
        }
        a {
            text-decoration: none;
            color: black;
        }

        h1 {
            font-family: $font2;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.03rem;
            margin: 0rem;
        }

        h2 {

            font-family: $font1;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0.05rem;
            font-size: 10px;
        }


        #socials {
            position: absolute;
            bottom: 0;
            ul {
                list-style: none;
                padding-inline-start: 0;

                a {
                    display: block;
                    text-decoration: none;

                    &:hover {
                        li {
                            color: darkgray;

                        }
                    }

                    &.active {
                        li {}
                    }
                }

                li {

                    color: $black;
                    font-family: $font1;
                    text-transform: uppercase;
                    font-size: 10px;
                    letter-spacing: 0.05rem;
                    margin-bottom: 8px;
                    display: inline-block;
                }
            }
        }
        nav {
            z-index: 20;
            margin-top: 50px;
            ul {
                list-style: none;
                padding-inline-start: 0;

                a {
                    display: block;
                    text-decoration: none;

                    &:hover {
                        li {
                            color: darkgray;

                        }
                    }

                    &.active {
                        li {}
                    }
                }

                li {

                    color: $black;
                    font-family: $font1;
                    text-transform: uppercase;
                    font-size: 10px;
                    letter-spacing: 0.05rem;
                    margin-bottom: 8px;
                    display: inline-block;

                }
            }
        }
    }

    #content {
        flex: 0 1 80%;
        -webkit-flex: 0 1 80%;
        overflow-y: overlay;
        height: 100%;
        overflow-x: hidden;

        @include break (tablet) {
            flex: 0 1 100%;
            -webkit-flex: 0 1 100%;
            width: 100%;


        }


        /* width */
        &::-webkit-scrollbar {
            width: 0px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            width: 0;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: transparent;
            width: 0px;
        }

        .half-col,
        .full-col,
        .third-col,
        .two-third-col {

            padding: 20px;
            box-sizing: border-box; //            border-top: 3px solid $blue;
            margin: 0;



            @include break(mobile) {
                padding: 20px;
            }


            .center {

                text-align: center;
                padding-left: 50px;
                @include break(mobile) {
                    padding: 0px;
                }

                h1 {
                    padding-top: 50px;
                    padding-right: 50px;
                    @include break(mobile) {
                        padding: 0px;
                    }
                }

                img {
                    width: 60%;
                    padding-right: 50px;
                    @include break(mobile) {
                        padding: 0px;
                        width: 100%;
                    }

                }
            }


            h1 {
                font-family: $font2;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.03rem;
                margin: 0rem;

                &.section-head {
                    font-size: 28px;
                    padding-bottom: 15px;
                }
            }

            h2 {

                font-family: $font1;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: 0.05rem;
                font-size: 10px;
            }
            h2 a {
                color: $black;
            }

            h2 a:hover {
                color: darkgray;
            }



            img {
                margin-right: 20px;
                width: 100%;
                height: 100%;



            }

            &.media {
                margin: 0;
                display: flex;
                display: -webkit-flex;


            }



            &.video {
                margin: 0;

                padding: 0;
                display: flex;
                display: -webkit-flex;




            }

            &.embed {

                background: white;
                margin: 20px;
                margin-bottom: 100px;
                margin-top: 50px;
            }


            .data-block {

                padding-bottom: 15px;
                strong {
                    font-weight: 400;
                    &.bold {
                        color: #CF4C2D;
                        font-weight: 400;
                    }
                }

                p {
                    font-family: $font1;
                    margin: 0;
                    font-size: 14px;
                    letter-spacing: 0.03rem;
                    line-height: 1.3rem;
                    padding-bottom: 0rem;
                }

                a {
                    color: $black;

                    &:hover {
                        color: darkgray;
                    }
                }
                ol {
                    list-style-type: decimal-leading-zero;
                    margin: 0;
                    padding: 0;
                    margin-left: 20px;

                    li {
                        font-family: $font1;
                        padding: 0px;
                        padding-left: 5px;
                        margin: 0;
                        font-size: 12px;
                        letter-spacing: 0.03rem;
                        line-height: 1.3rem;

                    }

                }
            }


            h6 {
                &.section-head {
                    font-family: $font1;
                    text-transform: uppercase;
                    letter-spacing: 0.05rem;
                    margin-bottom: 0.8rem;
                    font-size: 12px;
                    margin-top: 0.8rem;
                    font-weight: 400;

                }

                &.red {
                    color: $red;
                }
            }
        }


        .half-col {
            flex: 0 0 50%;
            -webkit-flex: 0 0 50%;
            width: 50%;
            box-sizing: border-box; //            border-right: 3px solid $blue;
            @include break(tablet) {
                flex: 0 0 100%;
                -webkit-flex: 0 0 100%;
                width: 100%;
                border-right: none;
            }






            &.button {
                margin: 0;
                height: 40px;
                padding: 0;
                padding-top: 10px;
                text-align: center;
                color: black;
                font-size: 24px;
                border-right: none;
                border-bottom: none; //                border-top: 3px solid $blue;
                &.active,
                &:hover {
                    background: black;
                    color: white;
                    cursor: pointer;
                }


                h4 {
                    margin: 0;
                    padding: 15px;
                }

            }

            ol {
                list-style-type: decimal-leading-zero;
                margin: 0;
                padding: 0;
                margin-left: 20px;
                margin-top: 20px;

                li {
                    padding: 0px;
                    padding-left: 5px;
                    margin: 0;
                    margin-bottom: 10px;
                    font-size: 1px;
                    letter-spacing: 0.03rem;
                    line-height: 1.3rem;

                }
            }




        }
        .white {
            background: white;
        }
        .full-col {
            flex: 0 0 100%;
            -webkit-flex: 0 0 100%;
            width: 100%;
            box-sizing: border-box;

            .data-block {
                padding-right: 50px;

            }


            &.project-nav {
                #top {
                    cursor: pointer;
                    display: inline;
                    padding-right: 20px;
                }
                a {
                    display: inline;
                    color: black;
                    text-decoration: none;
                    padding-right: 20px;

                    &:hover {
                        p {
                            color: darkgray;

                        }
                    }

                }

                p {
                    display: inline;
                    font-family: $font1;
                    text-transform: uppercase;
                    font-size: 10px;
                    letter-spacing: 0.05rem;
                    margin-bottom: 8px;

                    text-align: center;
                }
            }
            &.resume {
                border-top: 0;

                cursor: pointer;
            }


            &.image {
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                height: 500px;
                padding: 0;

                @include break(mobile) {
                    height: 250px;
                }
            }

            &#me {
                background-image: url("../img/me.JPG");

            }

            &#gas {
                background-image: url("../img/photography/splash.jpg");
            }

            &#vancity {
                background-image: url("../img/projects/vancity/vancity.jpg");
            }

            &#lena {
                background-image: url("../img/projects/lena/lena.jpg");
            }

            &#touchy {
                background-image: url("../img/projects/touchy/touchy.jpg")
            }

            &#christine {
                background-image: url("../img/projects/christine/christine.jpg")
            }

            &#sjma {
                background-image: url("../img/projects/sjma/sjma.jpg")
            }

            &#japanesehall {
                background-image: url("../img/projects/japanesehall/japanesehall.jpg")
            }

            &#t-vision {
                background-image: url("../img/projects/touchy/vision.jpeg")
            }


            &.flex {
                padding: 0;
                display: flex;
                display: -webkit-flex;
                border-top: 0;

                &.filter {
                    display: none;
                    flex-wrap: wrap;
                    -webkit-flex-wrap: wrap;
                    &.active {
                        display: flex;
                        display: -webkit-flex;
                    }
                }
            }

        }

        .third-col {
            flex: 0 0 33.3333%;
            -webkit-flex: 0 0 33.3333%;
            width: 33.333333%; //            border-right: 3px solid $blue;
            //            border-top: 3px solid $blue;
            @include break(mobile) {
                flex: 0 0 100%;
                -webkit-flex: 0 0 100%;
                width: 100%;
                border-right: none;
            }


        }

        .two-third-col {
            flex: 0 0 66.6666%;
            -webkit-flex: 0 0 66.6666%;
            width: 66.66666%; //            border-top: 3px solid $blue;
            @include break(mobile) {
                flex: 0 0 100%;
                -webkit-flex: 0 0 100%;
                width: 100%;
                border-right: none;
            }


            &.gallery {
                padding: 1%;
                .gallery-image {
                    width: 30%;
                    margin: 1%; //                    float: left; //                    border-bottom: 3px solid $blue;
                    //                    border-right: 3px solid $blue;
                    //                    box-sizing: border-box;
                    //
                    //                    &:nth-child(3n) {
                    //                        border-right: 0px;
                    //                    }
                    height: unset;
                }
            }

        }

        #landing-hero {
            width: 100%;
            margin-bottom: 30px;
            margin-top: 20px;
            border-bottom: 1px solid black;
            padding-left: 20px;
            padding-right: 20px;

            h1 {
                text-align: left;
                letter-spacing: 0.05rem;
                font-family: $font1;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 12px;
                width: 100%;
                margin-bottom: 0;
                padding-bottom: 10px;
                padding-top: 5px;

            }

        }

        .jh {
            img {

                opacity: 0.7;
                @include break(tablet) {
                    width: 28%;
                    opacity: 1;
                    z-index: -20;
                }
            }

            &:hover {
                img {
                    opacity: 1;
                    transition: all 0.5s ease;
                    @include break(tablet) {
                        opacity: 1;
                    }
                }
            }
        }
        .project-link {
            text-decoration: none;
            &:hover {
                img {
                    filter: grayscale(0%);
                }

                .project-title {
                    h2,
                    h3 {
                        //                        color: darkgray;
                    }
                }
            }
        }

        .project {
            padding-left: 20px;
            margin-top: 50px;
            margin-bottom: 50px;

            img {
                z-index: -20;
                width: 30%;
                filter: grayscale(100%);
                transition: all 0.5s ease;
                padding-right: 10px;
                @include break(tablet) {
                    width: 28%;
                    filter: none;
                }
            }

            .project-title {

                margin-bottom: 20px;

                h2 {
                    font-family: $font2;
                    font-weight: 400;
                    color: $black;
                    letter-spacing: 0.03rem;
                    font-size: 21px;
                    margin: 0;
                    margin-bottom: 5px;

                }

                h3 {
                    color: $black;
                    font-family: $font1;
                    text-transform: uppercase;
                    letter-spacing: 0.05rem;
                    font-size: 12px;
                    font-weight: normal;
                    margin: 0;

                }

            }
        }
    }

}

.center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.barba-container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
