$grey:#f8f8f8;
$black: #222222;
$blue: #222222;
$red: #222222;

$font1: karla,
helvetica,
arial,
sans-serif;

$font2: prata,
serif;
/*********************
BREAKPOINTS
*********************/

@mixin break($point) {
    @if $point==desktop {
        @media (max-width: 1440px) {
            @content ;
        }
    }
    @else if $point==laptop {
        @media (max-width: 1280px) {
            @content ;
        }
    }
    @else if $point==tablet {
        @media (max-width: 768px) {
            @content ;
        }
    }
    @else if $point==mobile {
        @media (max-width: 550px) {
            @content ;
        }

    }
}
